.stack-work/
dist-newstyle/
.hie/
*~
#*
.DS_Store
# A place to put stuff you don't want in git
local
# IDE config
.vscode
.idea
languages/haskell/dmnmd.iml
languages/haskell/stan.html
languages/haskell/TESTREPORT
